<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LS_BusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LS_BusinessLayer.Properties.Settings>
            <setting name="LS_BusinessLayer_OliveService_OliveService" serializeAs="String">
                <value>http://87.106.184.4:84/CliqServiceBeta/OliveService.svc</value>
            </setting>
        </LS_BusinessLayer.Properties.Settings>
    </applicationSettings>
</configuration>